/*
Challenge: 
Add some space between the logo 
and the search field.

What are the two different ways 
we can do this with margins?

*/
.main {
  margin-top: 200px;
}
.search-input {
  display: block;
  width: 400px;
  margin-top: 10px;
}
.logo-img {
  /*
Challenge:
Select the img tag and set the width 
of the Google logo to be 300px.
*/
  /* margin-top: 100px; */
  display: block;
  width: 300px;
}
